<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
    <listeners>
        <listener class-name="TestComponents.Listeners">
        </listener>
    </listeners>
    <test thread-count="3" name="StandAloneTest">
        <classes>
            <class name="StandAloneTest"/>
        </classes>
    </test>
    <test thread-count="3" name="ErrorValidations">
        <classes>
            <class name="ErrorValidations"/>
        </classes>
    </test>
    <test thread-count="3" name="TestUsingPageObject">
        <classes>
            <class name="TestUsingPageObject"/>
        </classes>
    </test>
</suite>


